# Fedora 26 Workstation kickstart file - ks.cfg
#
# For more information on kickstart syntax and commands, refer to the
# Fedora Installation Guide:
# https://docs.fedoraproject.org/f26/install-guide/appendixes/Kickstart_Syntax_Reference.html#appe-kickstart-syntax-reference
# Or:
# http://pykickstart.readthedocs.io/en/latest/kickstart-docs.html#chapter-2-kickstart-commands-in-fedora

#
# For testing, you can fire up a local http server temporarily.
# cd to the directory where this ks.cfg file resides and run the following:
#    $ python -m SimpleHTTPServer
# You don't have to restart the server every time you make changes.  Python
# will reload the file from disk every time.  As long as you save your changes
# they will be reflected in the next HTTP download.  Then to test with
# a PXE boot server, enter the following on the PXE boot prompt:
#    > linux text ks=http://<your_ip>:8000/ks.cfg

# Required settings
lang en_US.UTF-8
keyboard 'us'
rootpw vagrant
auth --enableshadow --passalgo=sha512
timezone UTC

# Optional settings
install
# cdrom
# use a Fedora mirror for the install source
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
network --bootproto=dhcp
selinux --disabled
firewall --disabled

# Avoiding warning message on Storage device breaking automated generation
zerombr

# Remove all existing partitions
clearpart --all --initlabel

autopart

# Reboot After Installation
reboot --eject

%packages
@core
# Install the default GNOME desktop
@base-x
@firefox
@fonts
@gnome-desktop
@hardware-support
@input-methods
@libreoffice
@multimedia
@networkmanager-submodules
@printing
@standard
@workstation-product
# -gfs2-utils
# -reiserfs-utils
# The following packages do not load in a kickstart on Fedora 26 - say package not found or throw package conflicts
# gcc
# gcc-c++
# openssl-devel
# patch
# readline-devel
# sqlite-devel
# zlib-devel
# Prerequisites for installing VMware Tools or VirtualBox guest additions.
bzip2
curl
deltarpm
kernel-devel
kernel-headers
make
net-tools
nfs-utils
perl
rsync
sudo
tar
wget
%end

%post
# Add Vagrant user and group.
/usr/sbin/groupadd vagrant
/usr/sbin/useradd vagrant -g vagrant
echo "vagrant"|passwd --stdin vagrant

# Give Vagrant user permission to sudo.
echo 'Defaults:vagrant !requiretty' > /etc/sudoers.d/vagrant
echo '%vagrant ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
chmod 440 /etc/sudoers.d/vagrant

# Enable SSHd for Packer provisioning
systemctl enable sshd.service

# Enable the GUI at startup
systemctl enable gdm.service
systemctl set-default graphical.target

%end
